<% if logged_in?(:editor) && (article.user == current_user) %>
    <td align="center">
      <a href='<%= edit_article_path(article) %> 'title='Edit Article'>
        <i class='glyphicon glyphicon-wrench'></i>
      </a>
    <td align="center">
      <a href='<%= article %>' data-method='delete'
         data-confirm="You sure you want to delete this Article?"
         title='Delete Article'>
        <i class='glyphicon glyphicon-trash'></i>
      </a>
    </td>
<% else %>
    <td colspan="2"></td>
<% end %>