<% if logged_in?(:editor) && (article.user == current_user) %>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
<% else %>
    <td></td>
    <td></td>
<% end %>