
<h1>Articles</h1>
<% if logged_in?(:editor) %>
    <a href='<%= new_article_path %> 'title='Create Article'>
      <i class='glyphicon glyphicon-plus'><strong> Create</strong></i>
    </a>
    <br/><br/>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Category</th>
      <th>User</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <%= render partial: 'article_index_entry', locals: {article: article} %>

        <%= render partial: 'article_operations', locals: {article: article} %>
      </tr>
    <% end %>
  </tbody>
</table>


