
<h1>Articles</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Category</th>
      <th>User</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <%= render partial: 'article_index_entry', locals: {article: article} %>

        <%= render partial: 'article_operations' %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if logged_in?(:editor) %>
  <%= link_to 'New Article', new_article_path %>
<% end %>
