<h1>Article Summary Page</h1>

<% @summary_articles.each do |category, articles| %>
    <p><span class="category_label">Category: </span> <span class="category_name"><%= category %></span></p>

    <table class="table table-striped indented_table">
      <tr>
        <th>Title</th>
        <th>Content</th>
        <% if logged_in?(:user) %>
          <th>Operations</th>
        <% end %>
      </tr>

      <% articles.each do |article| %>
          <tr>
            <td>
              <%= article.title %>
            </td>
            <td>
              <%= article.content %>
            </td>

            <% if logged_in?(:user) %>
              <td>
                <%= link_to "show", article_path(article.id) %>
              </td>
            <% end %>
          </tr>
      <% end %>
    </table>
    <hr/>
<% end %>


