<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
  <%= link_to "Home", root_path, class: "navbar-brand" %>
  <ul class="nav navbar-nav">

    <li class="nav-item">
      <a class="nav-link" href="/articles">Index <span </a>
    </li>

  </ul>
  <form class="form-inline pull-xs-right">
    <%= link_to "Login / SignUp", "/users/sign_in", class: "btn btn-sm btn-primary " %>
  </form>
</nav>